<body>
  <app-nav-menu></app-nav-menu>
  <header class="mb-5 header"></header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="pt-3 footer  bg-dark text-light text-center mt-5" style="margin-top: 62px;">

    <div class="pt-5">
      <a href="https://www.linkedin.com/in/sebastian-mielko-460098201/" target="_blank"><i class="ms-3 fa-lg fab fa-linkedin-in float-lg"></i></a>
      <a href="https://github.com/smielko" target="_blank"><i class="ms-3 fa-lg fab fa-github"></i></a>
    </div>

    <div class="mt-3">
      <i class=" ">Sebastian Mielko - Written using ASP.NET and Angular</i>
    </div>

    <div class=" text-muted">
      <i>Completed 05-2024</i>
    </div>

  </footer>
</body>
